html, body {
  margin: 0;
  background-color: #edf8f6;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

a.active {
  border-bottom: 2px solid;
}

a:hover {
  color: #fc5e32;
}

.nav-container {
  position: absolute;
  width: 100%;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login-notice {
  position: fixed;
  top: 30%;
  left: 30%;
  font-family: 'Aleo';
  font-size: 2rem;
}
